
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 2000px;
    margin: auto;
    overflow: auto;
    font-family: 'Lato', sans-serif;
}

/*utility classes*/
.text-light {
    color: azure;
}
.text-dark {
    color: black;
}
.bg-light {
    /*light color*/
    background: white;
}
.bg-dark {
    background-color: black;;
}
.right-side {
    float: right;
}
.left-side {
    float: left;
}
.no-dots {
    list-style: none;
}
.clr {
    clear: both;
}
.centered-text {
    text-align: center;
}
.sticky-div {
    position: sticky;
    top: 0;
}
.pos-abs {
    position: absolute;
}
.three-width {
    width: 33.3%;
}
.no-link-dec {
    text-decoration: none;
}
.full-width {
    width: 100%;
}
.font-xxl {
    font-size: xx-large;
}
.font-xxxl {
    font-size: 45px;
}
.background-image {
    z-index: -1;
    position: absolute;
    object-fit: cover;
    object-position:center;
}
.bold-main-font {
    font-weight: bold;;
}


.top-section {
    padding: 15px 0;
}



.section1 {
    width: 100%;
    height: 920px;
    background-image: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/5a7b3001-249f-4065-a330-4ea6a17ccf7b/bvlatuR/std/2560x1708/Model-3-Main-Hero-Desktop-LHD');
    background-repeat: no-repeat;
    background-position: 0 -150px;
    
    background-size: cover;
}

.section2 {
    width: 100%;
    height: 920px;
    background-image: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/ea753653-02a2-4206-aac5-82a33a0a245d/bvlatuR/std/2880x1800/model-3-hero-a-desktop');
    background-repeat: no-repeat;
    background-position: 0 -150px;
    
    background-size: cover;
}


.section1 .section1-header .header-sections {
    width: 100%;
    
}


.models-list1 li {
    text-align: center;
    padding-top: 20px;
}
.models-list1 li a {
    text-align: center;
    padding: 10px 15px 10px 15px;
}

.models-list1 li :hover {
    background-color: rgb(80, 86, 95);
}

.model3-pres {
    padding-top: 130px;
}

.tesla-logo1 {
    padding-top: 10px;
    padding-left: 50px;
    display: block;
}

.other-header-options ul li a {
    display: block;
    padding: 10px 20px 10px 20px;
}

.other-header-options ul li a:hover {
    background-color: rgb(80, 86, 95);;
}

.other-header-options li {
    padding-top: 10px;
    text-align: center;
}

.section1-bottom {
    margin-top: 540px;
    margin-left: 33.3%;
}
.section1-bottom ul li {
    padding: 10px;
    margin: 0 30px;
}

.section1-bottom ul li .font-xl{
    font-size: 30px;
}

.spedometer-section1 {
    width: 30px;
    height: 10px;
}



.tcl-badge-speedometer__outer-circle {
    z-index: 2;
    width: 40px;
    position: absolute;
    bottom: 50px;
    left: calc(33.3% + 15px);
    fill: white;
    z-index: 1;
}
.tcl-badge-speedometer__inner-circle {
    width: 31px;
    position: absolute;
    bottom: 50px;
    left: calc(33.3% + 19px);
    fill: rgb(125, 125, 125);
    z-index: 0;
}
.tcl-badge-speedometer__needle {
    width: 5px;
    position: absolute;
    bottom: 50px;
    left: calc(33.3% + 32px);
    fill: white;
}


.buy-me-box a {
    border: 3px solid white;
    padding: 10px 60px;
    border-radius: 5px;
}

.buy-me-box a:hover {
    color: black;
    background-color: white;
}


.section1-bottom ul li .buy-me-box {
    margin-top: 16px;
}

.message-box-bottom {
    position: fixed;
    display: block;
    width: 50px;
    height: 50px;

    bottom: 60px;
    right: 50px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgb(240, 240, 240);
    text-align: center;
}

.message-box-bottom svg {
    margin: 13px 0px 0px 12px;
}




.msg-bottom svg {
    fill: black;
}

.safety-card {
    margin-top: 100px;
    width: 300px;
    margin-right: 20px;
}
.safety-card h2 {
    font-size: 30px;
}
.safety-card ul {
    margin-top: 10px;
}
.safety-card ul li {
    margin-top: 10px;
}

