

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 2000px;
    margin: auto;
    overflow: auto;
}

/*utility classes*/
.text-light {
    color: azure;
}
.text-dark {
    color: black;
}
.bg-light {
    /*light color*/
    background: white;
}
.bg-dark {
    background-color: black;;
}
.right-side {
    float: right;
}
.left-side {
    float: left;
}
.no-dots {
    list-style: none;
}
.clr {
    clear: both;
}
.centered-text {
    text-align: center;
}
.sticky-div {
    position: sticky;
}
.pos-abs {
    position: absolute;
}
.three-width {
    width: 33.3%;
}
.no-link-dec {
    text-decoration: none;
}
.full-width {
    width: 100%;
}
.font-xxl {
    font-size: xx-large;
}
.font-xxxl {
    font-size: 45px;
}
.background-image {
    z-index: -1;
    position: absolute;
    object-fit: cover;
    object-position:center;
}



.top-section {
    padding: 15px 0;
}



.section1 {
    width: 100%;
    height: 920px;
    background-image: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/5a7b3001-249f-4065-a330-4ea6a17ccf7b/bvlatuR/std/2560x1708/Model-3-Main-Hero-Desktop-LHD');
    background-repeat: no-repeat;
    background-position: 0 -150px;
    
    background-size: cover;
}

.section2 {
    width: 100%;
    height: 100%;
    background-image: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/ea753653-02a2-4206-aac5-82a33a0a245d/bvlatuR/std/2880x1800/model-3-hero-a-desktop');
}


.section1 .section1-header .header-sections {
    width: 100%;
    
}


.models-list1 li {
    text-align: center;
    padding-top: 20px;
}
.models-list1 li a {
    text-align: center;
    padding: 10px 20px 10px 20px;
}

.models-list1 li :hover {
    background-color: rgb(80, 86, 95);
}

.model3-pres {
    padding-top: 130px;
}


